/*menu*/

* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    list-style: none;
 }
 
 body {
     font-family: 'Poppins';
     height: 100%;
     width: 100%;
 }
 
 header {
    height: 101vh;
    background-color: #e2e2e2c2; 
    overflow-x: hidden;
}

.second-fond {
    background-color: #ffffffbe;
    padding: 40px 0; 
    height: 30px; /* Hauteur de la section */
    width: 100%; /* Largeur de la section */
}

 .navbar {
     position: absolute;
     padding: 37px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     box-sizing:border-box;
 }
 
 .navbar a {
     color: rgb(63, 62, 62);
 }
 
 .navbar .logo {
     font-size: 2em;
     font-weight: bold;
 }
 
 .navbar .nav-links ul {
     display: flex;
 }
 
 .navbar .nav-links ul li {
     margin: 0 30px;
 }
 
 .navbar .menu-deroule {
    display: none;
     position: absolute;
     top: 50px;
     right: 50px;
     width: 35px;
 }
 
 @media screen and (max-width: 900px) {
     .navbar {
         padding: 0;
     }
     
     .navbar .logo {
        position: absolute;
        top: 40px;
        left: 30px;
     }
 
     .navbar .menu-deroule {
         display:block;
     }
 
     .nav-links {
         top: 0;
         left: 0;
         position: absolute;
         background-color: rgba(255, 255, 255, 0.301);
         backdrop-filter: blur(7px);
         width: 100%;
         height: 100vh;
         display: flex;
         justify-content: center;
         align-items: center ;
         margin-left: -100%;
         transition: all 0.5s ease;
     }
 
     .nav-links.mobile-menu {
         margin-left: 0;
     }
 
     .nav-links ul {
         display: flex;
         flex-direction: column;
         align-items: center;
     }
 
     .navbar .nav-links ul li {
         margin: 25px 0;
         font-size: 1.2em;
     }
 }


/*Salon*/

.salon {
   position: relative;
   top: 60px;
   left: 300px;
}

.ssalon h3 {
    font-family: Arial, sans-serif; 
    font-weight: normal; 
    font-size: 20px; 
}

.salon p{
    position: relative;
    top: 5px;
    left: 15px;
 }

 .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.large-image img {
    width: 610px; 
    height: 410px; 
    display: block;
    border-radius: 10px;
}

.small-images,
.smalle-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    gap: 10px;
    margin-left: 15px;
}

.small-images img,
.smalle-images img {
    width: 300px; 
    height: 192px; 
}

.gallery img,
.small-images img,
.smalle-images {
    border-radius: 10px; 
}


 /*autre*/
.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px); 
    border-radius: 5px;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/*fond*/

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89); 
    overflow: auto;
    backdrop-filter: blur(10px); 
}

.modal-content {
    position: relative;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
}

.modal-content img {
    display: block;
    margin: 20px auto; 
    max-width: 100%; 
    max-height: 100%; 
    width: 50%; 
    height: auto; 
}

/* Styles pour la croix */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
}

.close:hover {
    color: #000000; 
}

/*fleche*/

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    width: 40px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    opacity: 2;
    transition: opacity 0.3s ease;
}

.arrow:hover {
    opacity: 1;
}

.left {
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.right {
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


/*Resposive*/

@media screen and (max-width: 1260px) {
    .smalle-images {
         display: none; 
     }
}

@media screen and (max-width: 950px) {
    .small-images {
         display: none;
     }
}

@media screen and (max-width: 950px) {
    .large-image img{
        overflow: hidden;
        width: 95vw;
     }
     .large-image {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 950px) {
    .arrow {
        display: block; /* Afficher les flèches */
    }
}

@media screen and (min-width: 951px) {
    .arrow {
        display: none; /* Masquer les flèches */
    }
}


/*coiffure

.service {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    background-color: #e2e2e2c2;
    padding: 145px;
    text-align: left;
    gap: 50px; 
}

.service-left {
    flex: 1;
    margin-top: -305px;
}

.service-left h3{
    display: inline-block;
    margin-bottom: 0;
    padding-right: 20px; 
    padding-left: 10px; 
}

.service-left h1 {
    font-size: 20px; 
    color: #1a1a1ac4; 
    margin-top: 15px;
}

.service-right {
    flex: 1;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -265px; 
}

.service-right h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.service-left hr,
.service-right hr {
    margin-left: 10px; 
    margin-right: 5px;
    
}

.service-left h3:first-of-type {
    margin-bottom: 5px; 
}

.service-left h1:first-of-type {
    margin-bottom: 15px; 
}

.horaire-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.day {
    text-align: left;
    font-weight: bold;
}
.hours {
    text-align: right;
    font-style: italic;
}

.horaire-box .thin {
    grid-column: span 2;
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.info-box {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-box hr {
     margin-top: 20px;
}

.info-box p {
    margin: 10px 0;
}

.info-box .thin {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.reduire {
    color: red;
    cursor: pointer;
}

.autre-proposition {
    margin: 0;
    display: none;
}

.autre-proposition.visible {
    display: block;
}


/*localisation

.localisation-section {
    background-color: #e2e2e2c2; 
    text-align: center; 
    min-height: calc(72vh - 100px); 
}

.localisation-text {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 145px;
    color: #1a1a1ac4;
}

.localisation-text .address {
    font-size: 16px;
    font-weight: normal;
    color: #1a1a1a;
    margin-top: 7px; 
    margin-left: 10px;
}

.map-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px; 
}

.map-container iframe {
    width: 80%; 
    height: 450px;
    border: 0; 
    border-radius: 10px; 
}

/*flechescroll

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #ffffffbb;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    display: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s, transform 0.3s;
}

.scroll-to-top.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.scroll-to-top.hide {
    opacity: 0;
    transform: translateY(100px);
}

.scroll-to-top i {
    font-size: 20px;
    line-height: 40px; 
}



/*bulle a propos*

.propos {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    background-color: #e2e2e2c2;
    padding: 5px;
    text-align: left;
}

.propos-left {
    flex: 1;
    margin-top: 0;
    margin-left: 310px; 
}

.propos-left h1 {
    font-size: 20px;
    color: #1a1a1ac4;
    margin-top: 0;
    margin-bottom: 10px; 
}

.propos-box {
    background-color: white;
    border-radius: 10px; 
    padding: 18px; 
    width: 570px;
    margin-bottom: 50px; /* espace en dessous de la bulle *
}

.propos-box p {
    margin-bottom: 5px; 
    line-height: 1.5; 
}


/*fond de page*

.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}




